name: hello-world
on:
  push:
    branches:
      - master
#  schedule:
#    - cron: '*/2 * * * *' 
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Name
        run:  |
          export NAME="Nguyen Dang Hung"
          export H=$(date)
          echo "$NAME" "$H"
      
